<%- include('partials/head') %>
<link rel="stylesheet" href="/css/quizResults.css">

<body>
  <main>
    <section id="plekEnResultaat">
      <section id="kunstResultaat">

        <h2>Jouw kunstwerk is:</h2>
        <img id="kunstwerkFoto" src="<%= fetchedDetails.artObject.webImage.url %>" alt="<%= fetchedDetails.artObject.title %>" class="<%= fetchedDetails.artObject.objectNumber %>">


        <section id="kunstwerkInfo" class="visuallyHidden">
          <h3><%= fetchedDetails.artObject.title %></h3>

          <% if (Array.isArray(fetchedDetails.artObject.principalMakers) && fetchedDetails.artObject.principalMakers.length > 0) { %>
            <% for (var i = 0; i < fetchedDetails.artObject.principalMakers.length; i++) { %>
                  <p><%= fetchedDetails.artObject.principalMakers[i].name %></p>
            <% } %>
        <% } else { %>
            <li class="text">
                <p>No principal makers found.</p>
            </li>
        <% } %>

          <% if(fetchedDetails && fetchedDetails.artObject) { %>
            <p><%= fetchedDetails.artObject.dating.presentingDate %></p>
          <% } %>
          <a href="info/<%= fetchedDetails.artObject.objectNumber %>">Meer info</a>
          <input type="hidden" id="artTitle" value="<%= fetchedDetails.artObject.title %>">
        </section>

        <section id="kunstwerkPlek">
          <h2>Jouw kunstwerk is te vinden op:</h2>
          <% if(fetchedDetails && fetchedDetails.artObject) { %>
            <p><%= fetchedDetails.artObject.location %></p>
          <% } %>
        </section>


      </section>

    </section>

    <section id="kunstPassword">
      <h3>Wat is de naam van dit kunstwerk?</h3>
        <input id="invulveld" type="text" name="" id="">

        <form action="/notFoundFavorites/:artObjectNumber" method="post">
          <input type="hidden" id="answerStatus" name="answerStatus">
          <input id="confirmButton" type="submit" value="Naam proberen">       
        </form>
        
    </section>


  </main>

  <script src="/script/notFound.js"></script>

</body>

</html>