<%- include('partials/head') %>

<body>
    <%- include('partials/header') %>

    <h1>Quiz resultaten</h1>

    <% for (const questionNumber in endpoints) { %>
      <p>Vraag <%= questionNumber %>: <%= endpoints[questionNumber] %></p>
  <% } %>
  

    <%- include('partials/footer') %>

</body>

</html>
