<%- include('partials/head') %>
<link rel="stylesheet" href="/css/quizResults.css">

<body>
  <main>
    <section id="plekEnResultaat">
      <section id="kunstResultaat">

        <h2>Jouw kunstwerk is:</h2>
        <% let keys = Object.keys(fetchedData); %>
        <% let randomKey = keys[Math.floor(Math.random() * keys.length)]; %>
        <% if(fetchedData[randomKey].artObjects && fetchedData[randomKey].artObjects.length > 0) { %>
        <% let randomIndex = Math.floor(Math.random() * fetchedData[randomKey].artObjects.length); %>
        <% let artObjects = fetchedData[randomKey].artObjects[randomIndex]; %>
        <% if(artObjects.webImage && artObjects.webImage.url) { %>
        <img id="kunstwerkFoto" src="<%= artObjects.webImage.url %>" alt="<%= artObjects.title %>">
        <% } %>

        <section id="kunstwerkInfo" class="visuallyHidden">
          <h3><%= artObjects.title %></h3>
          <p><%= artObjects.principalOrFirstMaker %></p>

          <% if(fetchedDetails && fetchedDetails.artObject) { %>
            <p><%= fetchedDetails.artObject.dating.presentingDate %></p>
          <% } %>
          <button>Meer info</button>
          <input type="hidden" id="artTitle" value="<%= artObjects.title %>">
        </section>

        <section id="kunstwerkPlek">
          <h2>Jouw kunstwerk is te vinden op:</h2>
          <% if(fetchedDetails && fetchedDetails.artObject) { %>
            <p><%= fetchedDetails.artObject.location %></p>
          <% } %>
        </section>
        <% } %>

      </section>

    </section>

    <section id="kunstPassword">
      <h3>Wat is de naam van dit kunstwerk?</h3>
      <input id="invulveld" type="text" name="" id="">
      <input id="confirmButton" type="submit" value="Naam proberen">
    </section>



    <section id="kunstwerkButtons">
      <button id="shuffleButton">Ander kunstwerk</button>

      <form action="/quizResultaten" method="post">
        <button type="submit" id="addKnop">Toevoegen aan mijn kunstwerken</button>
      </form>
    </section>

  </main>

  <script src="/public/script/quizResults.js"></script>

</body>

</html>