<%- include('partials/head') %>

<body>
  <%- include('partials/header') %>


  <!-- HIER MOET EEN PROGRESSBAR KOMEN -->


  <main class="vragen">
    <h1><%= vraag.question %></h1>
    <p>Vraag <%= vraag.number %></p>

    <form id="filterForm" action="/vragen" method="POST">   
      <div> 
      <% if (nextId !== 2 && nextId !== 5) { %>

        <% vraag.choices.forEach((choice, index) => { %>

          <input class="item" type="radio" id="choice_<%= index %>" name="answer" value="<%= choice.endpoint %>" required>
          <label for="choice_<%= index %>">
            <figure>
              <img src="../img/<%= choice.image %>.jpg" alt="<%= choice.name %>">
              <figcaption>
                <%= choice.name %>
              </figcaption>
            </figure>
          </label>

          <% }) %>

      <% } else if (nextId === 2) { %>

        <label for="choice_number">Vul in met hoeveel mensen je bent (max 15)</label>
        <input class="item" type="number" id="choice_number" name="answer" min="1" max="15" value="choice_number" required>

      <% } else if (nextId === 5) { %>

        <% vraag.choices.forEach((choice, index) => { %>

          <input class="item" type="radio" id="choice_<%= index %>" name="answer" value="choice_<%= index %>" required>
          <label for="choice_<%= index %>">
            <figure>
              <img src="../img/<%= choice.image %>.jpg" alt="<%= choice.name %>">
              <figcaption>
                <%= choice.name %>
              </figcaption>
            </figure>
          </label>

          <% }) %>

      <% } %>
      </div>

      <div>
        <% if (prevId !== 0) { %>
          <button type="submit" class="prevBtn" name="navigate" value="<%= prevId %>">Vorige</button>
        <% } %>

        <% if (nextId !== 11) { %>
          <button type="submit" class="nextBtn" name="navigate" value="<%= nextId %>">Volgende</button>
        <% } %>

        <% if (nextId === 11) { %>
          <input type="submit" value="Quiz afronden">
        <% } %>
      </div>

      <input type="hidden" name="questionNumber" value="<%= vraag.number %>">


    </form>
    
  </main>

  <script src="/script/script.js"></script>


</body>

</html>