<%- include('partials/head') %>

<body>
  <%- include('partials/header') %>




  <main class="vragen">

    <img class="progressBar" src="../img/<%= vraag.progress %>.png" alt="Progress bar vraag <%= vraag.number %>">

    <h1><%= vraag.question %></h1>
    <p>Vraag <%= vraag.number %></p>

    <form id="filterForm" action="/vragen" method="POST">   
      <div> 
      <% if (nextId !== 2 && nextId !== 5) { %>

        <% vraag.choices.forEach((choice, index) => { %>

          <input class="item" type="radio" id="choice_<%= index %>" name="answer" value="<%= choice.endpoint %>" required>
          <label for="choice_<%= index %>">
            <figure>
              <img src="../img/<%= choice.image %>.jpg" alt="<%= choice.name %>" class="clickable">
              <figcaption>
                <%= choice.name %>
              </figcaption>
            </figure>
          </label>

          <% }) %>

      <% } else if (nextId === 2) { %>
        
        <div aria-label="Ingevoerde hoeveelheid waarde" class="PlusMinContainer">
          <button class="minus">-</button>
          <input class="item" type="number" id="choice_number" name="answer" min="1" max="15" value="1" required>
          <button class="plus">+</button>
        </div>

        <script src="/script/linVraag1.js"></script>

      <% } else if (nextId === 5) { %>
          <ul id="list">
            <% vraag.choices.forEach((choice, index) => { %>
            <input class="item" type="radio" id="choice_<%= index %>" name="answer" value="<%= choice.endpoint %>" required>
            <li>
              <label for="choice_<%= index %>">
                <figure>
                  <img src="../img/<%= choice.image %>.png" alt="<%= choice.name %>" class="clickableSkittles">
                  <figcaption>
                    <%= choice.name %>
                  </figcaption>
                </figure>
              </label>
            </li>
            <% }) %>
          </ul>
      <% } %>

      </div>

      <div>
        <% if (prevId !== 0) { %>
          <button type="submit" class="prevBtn" name="navigate" value="<%= prevId %>">Vorige</button>
        <% } %>

        <% if (nextId === 2) { %>
          <button type="submit" class="nextBtn" name="navigate" value="<%= nextId %>">Volgende</button>
        <% } %>

        <% if (nextId === 5) { %>
          <button type="submit" class="nextBtn" name="navigate" value="<%= nextId %>">Volgende</button>
        <% } %>

        <% if (nextId === 11) { %>
          <input type="submit" value="Quiz afronden">
        <% } %>

        <% if (nextId !==2 && nextId !==5 && nextId !== 11) { %>
          <button id="volgendeKnop" type="submit" class="nextBtn hidden" name="navigate" value="<%= nextId %>">Volgende</button>
        <% } %>

      </div>

      <input type="hidden" name="questionNumber" value="<%= vraag.number %>">


    </form>
    
  </main>

  <script src="/script/lin.js"></script>
  <script src="/script/linSkittles.js" type="module"></script>


</body>

</html>